#root {
  display: flex;
  justify-content: center;
  color: rgb(240, 55, 23);
  font-family: sans-serif;
}
.app {
  margin-top: 2rem;
  display: grid;
  justify-items: center;
  background-color: #454544;
  border-radius: 10px;
  width: 400px;
  box-shadow: 5px 5px 5px #999;
}
.add-todo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  padding-bottom: 60px;
}
.add-todo input, button {
  border-radius: 10px;
  outline: none;
  border: none;
}
.todo-item {
  display: flex;
  align-items: center;
  width: 80%;
}
.done {
  color: rgb(255, 255, 255);
  text-decoration: line-through;
}